body {
    overflow: hidden;
}

.preloader {
    position : fixed;
    z-index: 9999;
    background : url('../img/loading.gif') 50% 50%;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
}
/*
.loading {
    position: center;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.loading img {
    min-height: 209px;
    min-width: 200px;
}

.caption {
    display: block;
}
*/
